.content-layout {
  display: flex;
  margin: 10px;
}

.map-container, .chart-container {
  flex: 1;
  margin: 10px;
}


app-map, app-speed-chart {
  width: 100%;
  height: 100%;
}


app-route-picker {
  margin-top: 20px;
}
